{% extends 'menu.html' %}
{% block content %}
<div class="container-fluid">
  <h1 class="title">{% block title %}Дисциплины{% endblock %}</h1>
  <table class="table table-bordered table-hover table-sm">
    <thead>
    <tr>
      <th>№</th>
      <th>Индекс</th>
      <th>Наименование</th>
      <th>Группа</th>
      <th>Семестр</th>
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ object.code }}</td>
      <td>{{ object.name }}</td>
      <td>{{ object.student_group }}</td>
      <td>{{ object.semester_abs }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}