{% extends 'menu.html' %}
{% set active_page = 'home' %}
{% block content %}
<div class="row">
    <div class="col">
        <h1>{% block title %}Карточка учебных поручений{% endblock %}</h1>
        <div class="overflow-auto">
            <table class="table table-bordered table-hover" style="font-size: 10pt;">
                <thead>
                <tr>
                    <th>№</th>
                    <th>Индекс дисциплины</th>
                    <th>Наименование дисциплины</th>
                    <th>Курс</th>
                    <th>Группа</th>
                    <th>Кол-во студентов</th>
                    <th>Кол-во подгрупп</th>
                    <th>Лекции</th>
                    <th>Практ. занятия</th>
                    <th>Лаб. работы</th>
                    <th>Консультации</th>
                    <th>Прием экзаменов</th>
                    <th>Проверка контр.раб.</th>
                    <th>Рук-во ВКР</th>
                    <th>Рук-во курс.раб.</th>
                    <th>Рук-во маг.дис.</th>
                    <th>Рук-во УП</th>
                    <th>Рук-во ПП</th>
                    <th>Рук-во ПДП</th>
                    <th>ГЭК</th>
                    <th>СРС</th>
                    <th>БРС</th>
                    <th>Всего</th>
                </tr>
                <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>8</th>
                    <th>9</th>
                    <th>11</th>
                    <th>13</th>
                    <th>14</th>
                    <th>16</th>
                    <th>17</th>
                    <th>18</th>
                    <th>19</th>
                    <th>21</th>
                    <th>23</th>
                    <th>24</th>
                    <th>25</th>
                    <th>27</th>
                    <th>32</th>
                    <th>33</th>
                    <th>34</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}