{% extends 'admin/master.html' %}
{% block body %}
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
        <h1>Загрузка учебного плана</h1>
        <form enctype="multipart/form-data" method="post">
            {{ form.csrf_token }}
            <div class="form-group{% if form.rup_file.errors %} has-error{% endif %}">
                {{ form.student_group.label }}
                {{ form.student_group(class='form-control') }}
            </div>
            <div class="form-group{% if form.rup_file.errors %} has-error{% endif %}">
                {{ form.rup_file.label }}
                {{ form.rup_file }}
                <p class="help-block">Файл в формате <code>*.plx</code>.</p>
            </div>
            <input type="submit" class="btn btn-primary" role="button" value="Загрузить">
        </form>
    </div>
</div>
{% endblock %}