{% extends 'page.html' %}
{% block body %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link{% if request.endpoint == 'home' %} active{% endif %}" href="{{ url_for('home') }}">
              КУП
            </a>
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#" role="button" data-bs-toggle="modal" data-bs-target="#semester-modal">
              <i class="bi bi-calendar4"></i>
              <span>{{ session['sem'] | semester }}</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a href="#" id="adminDropdown" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              Админка
            </a>
            <ul class="dropdown-menu" aria-labelledby="adminDropdown">
              <li>
                <a class="dropdown-item" href="{{ url_for('admin.index') }}">Админка</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a href="#" id="profileDropdown" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              {{ session['user']['str'] }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
              <li>
                <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Выход</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="modal" tabindex="-1" id="semester-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Выбор семестра</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <button class="btn btn-outline-secondary" type="button" onclick="new_sem -= 1; refreshModal();">
              <i class="bi bi-caret-left"></i>
            </button>
            <input type="text" class="form-control text-center" id="semester" value="{{ session['sem'] | semester }}" disabled>
            <button class="btn btn-outline-secondary" type="button" onclick="new_sem += 1; refreshModal();">
              <i class="bi bi-caret-right"></i>
            </button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
          <button type="button" class="btn btn-primary" onclick="changeSemester()">Сохранить</button>
        </div>
      </div>
    </div>
  </div>

  {% block content %}{% endblock %}
{% endblock %}

{% block scripts %}
<script>
  let old_sem = {{ session['sem'] }};
  let new_sem = old_sem;

  function refreshModal() {
    let half = new_sem % 2;
    let year = (new_sem - half) / 2;
    let elem = document.getElementById("semester");
    elem.value = year + ", " + ((half == 1) ? "осень" : "весна");
  }

  function changeSemester(change) {
    let half = new_sem % 2;
    let year = (new_sem - half) / 2;
    window.location.href = "/semester/" + year + "/" + (half + 1) + "/";
  }
</script>
{% endblock %}