{% extends 'menu.html' %}
{% set active_page = 'reference' %}
{% block content %}
<div class="row">
    <div class="col">
        <h1>{% block title %}Люди{% endblock %}</h1>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>№</th>
                <th>ФИО</th>
                <th>Почта</th>
                <th>Уч. степень</th>
                <th>Уч. звание</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for doc in persons %}
            <tr data-doc-id="{{ doc.id }}">
                <td>{{ loop.index }}</td>
                <td>{{ doc.fio }}</td>
                <td>{{ doc.emails|join(', ') }}</td>
                <td>{{ doc.degree }}</td>
                <td>{{ doc.title }}</td>
                <td><a href="{{ url_for('person_edit', person_id=doc.id) }}"><i class="bi bi-pencil-square"></i></a></td>
                <td><a href="#"><i class="bi bi-trash"></i></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}