{% extends 'menu.html' %}
{% set active_page = 'reference' %}
{% block content %}
<div class="row">
    <div class="col">
        <h1>{% block title %}Учебные группы{% endblock %}</h1>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>№</th>
                <th>Группа</th>
                <th>Программа</th>
                <th>Кол-во подгрупп</th>
                <th>Кол-во студентов</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for s in student_groups %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ s.name }}</td>
                <td>{{ s.program }}</td>
                <td>{{ s.subgroups }}</td>
                <td>{{ s.students }}</td>
                <td>&nbsp;</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}