{% extends 'menu.html' %}
{% set active_page = 'reference' %}
{% block content %}
<div class="row">
    <div class="col">
        <h1>{% block title %}Учебные группы{% endblock %}</h1>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>№</th>
                <th>Преподаватель</th>
                <th>Кафедра</th>
                <th>Должность</th>
                <th>Ставка</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for ja in job_assignments %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ ja.person }}</td>
                <td>{{ ja.department }}</td>
                <td>{{ ja.position }}</td>
                <td>{{ ja.wage_rate }}</td>
                <td>&nbsp;</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}