{% extends 'menu.html' %}
{% set active_page = 'reference' %}
{% block content %}
<div class="row">
    <div class="col">
        <h1>{% block title %}{{ person.fio }}{% endblock %}</h1>
        <form method="post">
            <div class="row">
                <div class="col-4 mb-3">
                    <label class="form-label">{{ form.last_name.label }}</label>
                    {{ form.first_name(class_='form-control') }}
                </div>
                <div class="col-4 mb-3">
                    <label class="form-label">{{ form.first_name.label }}</label>
                    {{ form.first_name(class_='form-control') }}
                </div>
                <div class="col-4 mb-3">
                    <label class="form-label">{{ form.second_name.label }}</label>
                    {{ form.second_name(class_='form-control') }}
                </div>
            </div>
            <div class="row">
                <div class="col-4 mb-3">
                    <label class="form-label">{{ form.degree.label }}</label>
                    {{ form.degree(class_='form-select') }}
                </div>
                <div class="col-4 mb-3">
                    <label class="form-label">{{ form.title.label }}</label>
                    {{ form.title(class_='form-select') }}
                </div>
            </div>
            <hr>
            {% for e in form.emails %}
            <div class="input-group mb-3">
                {# e(class_='form-control', placeholder=e.label) #}
                <button class="btn btn-outline-secondary" type="button">
                    <i class="bi bi-trash"></i>
                </button>
            </div>
            {% endfor %}
            <hr>
            <input type="submit" class="btn btn-primary" role="button" value="Сохранить">
            <a class="btn btn-secondary" role="button" href="{{ url_for('person_list') }}">Отмена</a>
        </form>
    </div>
</div>
{% endblock %}